<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">	<display-name>xa803g2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	<resource-ref>
	    <description>DB Connection</description>
	    <res-ref-name>jdbc/TestDB</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.order.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProductServlet</display-name>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
		<init-param>
		    <param-name>createPictureFolder</param-name>
		    <param-value>ProductPicture</param-value>
		</init-param>
		
	</servlet>
	<servlet>
		<servlet-name>ProductShowImage</servlet-name>
		<servlet-class>com.product.controller.ProductShowImage</servlet-class>
	</servlet>
	<servlet>
		<display-name>ShoppingServlet</display-name>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>com.productitem.controller.ShoppingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ScheduleServlet</display-name>
		<servlet-name>ScheduleServlet</servlet-name>
		<servlet-class>com.order.controller.ScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/ORDER/order.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/PRODUCT/product.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductShowImage</servlet-name>
		<url-pattern>/PRODUCT/ProductShowImage.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/ORDERITEM/Shopping.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduleServlet</servlet-name>
		<url-pattern>/ScheduleServlet</url-pattern>
	</servlet-mapping>
	

	<session-config>
	    <session-timeout>
	        60 <!-- minutes -->
	    </session-timeout>
	</session-config>
</web-app>
